<html>

<%- include("view-partials/head") %>

<body>
    <div>

        <center><h1>Your mother is quite fine :)</h1></center>
    </div>

    <div>

        <center><button>
            <a href="/login">Log back in</a>
        </button></center>
    </div>
</body>
</html>