<div class="sidebar" id="sidebar">
    <div class="sidebar-inner slimscroll">
        <div id="sidebar-menu" class="sidebar-menu">
            <ul>
                <li class="menu-title">Main</li>
                <li>
                    <a href="/home"><i class="fa fa-dashboard"></i> <span>Dashboard</span></a>
                </li>
                <li>
                    <a href="/appointment"><i class="fa fa-calendar"></i> <span>Resource Requests</span></a>
                </li>
               
                <li>
                    <a href="/home/departments"><i class="fa fa-hospital-o"></i> <span>Departments</span></a>
                </li>
                <li class="submenu">
                    <a href="#"><i class="fa fa-user"></i> <span> Employees </span> <span class="menu-arrow"></span></a>
                    <ul style="display: none;">
                        <li><a href="/employee">Employees List</a></li>
                        <li><a href="/employee/leave">Leaves</a></li>
                        
                    </ul>
                </li>
                
                <li class="submenu">
                    <a href="#"><i class="fa fa-book"></i> <span> Payroll </span> <span class="menu-arrow"></span></a>
                    <ul style="display: none;">
                        <li><a href="/receipt"> Employee Salary </a></li>
                        
                    </ul>
                </li>
               
                
                <li>
                    <a href="/logs"><i class="fa fa-calendar"></i> <span> Maintenance Log</span> <span class="menu-arrow"></span></a>
                </li>
               
                <li>
                    <a href="/store"><i class="fa fa-cube"></i> <span>Resources</span></a>
                </li>
                
               
            </ul>
        </div>
    </div>
</div>